/* underlines */
.line-green {

  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 6.1px;
  border-bottom-color: #2da397;
  width: fit-content;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}


.line-red {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 6.1px;
  border-bottom-color: #f10901;
  width: fit-content;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}


.line-yellow {
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-width: 6.1px;
  border-bottom-color: #f7ab08;
  width: fit-content;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}

/* underlines */


/* navbar */
.navbar {
  height: 100px;
}



.navbar-nav li a {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600px;
}

.navbar-nav li a:hover {
  transform: scale(1.1);
}

.navbar-nav li {
  margin: 0 10px;
}

.navbar-nav li :hover {
  background-color: #009fe1;
  color: white;
  font-weight: 600px;
}

.logo-trybusiness {
  height: 80px;
  width: 300px;
}

.collapse {
  display: flex;
  justify-content: end;
}


/* header strip */

.strips-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strip-green {
  height: 8px;
  background-color: #2da397;
  width: 33%;
}

.strip-red {
  height: 8px;
  background-color: #f10901;
  width: 33%;
}

.strip-yellow {
  height: 8px;
  background-color: #f7ab08;
  width: 33%;
}


/* banner */


.banner img {
  height: 100%;
  width: 100%;
  position: relative;
}

.text-contain {
  width: 80%;
  position: absolute;
  top: 55%;
  right: 0;
  transform: translate(-50%, -50%);
  line-height: 80px;
  display: flex;
  justify-content: end;
  margin: 0 auto;
  left: 50%;
  right: 50%;
}






.text-contain span:nth-child(1) {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  justify-content: center;
}

.text-contain span:nth-child(2) {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  justify-content: center;
}

.text-contain span:nth-child(3) {
  display: flex;
  font-size: 35px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  justify-content: center;
}

/* .text-contain span:nth-child(4) {
  display: flex;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
} */

/* banner */

/* our mission */

.mission-container {
  height: auto;
  padding: 100px 0;
}

.mission-container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.paragraph {
  font-size: 30px;
  padding: 30px 0;
}

.about-content .btn {
  padding: 20px 40px;
  font-size: 20px;
}


.image_one {
  /* position: absolute; */
  right: 0;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 16%;
  object-fit: contain;
}



.text {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Roboto, sans-serif;
  position: absolute;
  text-align: center;
  font-size: 24px;
  bottom: 0;
  top: 75%;
  right: 0%;
  padding: 32px 0;
  transform: translate(-20%, -50%);
  color: #fff;
  line-height: 40px;
}

.text strong {
  font-size: 50px;
  justify-content: center;
}



.paragraph-visit-profile {
  position: absolute;
  width: 100%;
  top: 60%;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 30px 0;
}




/* our mission */


/* our capabilities */
.capabilities-style {
  display: flex;
  padding: 30px 100px;
  font-weight: 600;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  flex-direction: column;
}


.capabilities-style .icons-capabilties {
  display: flex;
  height: 110px;
  width: 120px;
  margin: 10px auto;

}

.icons-capabilties p {
  display: flex;
}

.paragraph-cap-mobile p {
  font-size: 24px;
  line-height: 10px;
}

.button_slide {
  color: #FFF;
  border-radius: 0px;
  padding: 20px 40px;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #2E1760;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  background-color: #df2b2c;
}

.slide_down:hover{
  box-shadow: inset 0 100px 0 0 #2E1760;
}




/* our capabilities */


/* leader */

.leader-card-box {
  position: relative;
  width: 20vw;
  height: 20vw;
  /* background-color: #f7ab08; */
}

.leader-card-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.leader-card-box .card-name {
  height: 10vw;
  width: 10vw;
  background-color: #73B79E;
  border-radius: 0.5vw;
  position: absolute;
  bottom: -3vw;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;

}



.leader-card-box .card-name p {
  position: inherit;
  font-size: 1.2vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 35%;
  font-weight: 500;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
  line-height: 1.2;
}

.leader-card-box .card-name h6 {
  position: inherit;
  font-size: 1.0vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 62%;
  font-weight: 400;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.leader-card-box .card-name_left {
  height: 10vw;
  width: 10vw;
  background-color: #73B79E;
  border-radius: 0.5vw;
  position: absolute;
  bottom: -3vw;
  left: -10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50%;
  line-height: 1.2;
}



.leader-card-box .card-name_left p {
  position: inherit;
  font-size: 1.2vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 35%;
  font-weight: 500;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.leader-card-box .card-name_left h6 {
  position: inherit;
  font-size: 1.0vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 68%;
  font-weight: 400;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 10px;
  ;
}



.all_link {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  margin: 0 auto;
}

.link_one,
.link_two,
.link_three,
.link_four {
  position: relative;
  height: 3.0vw;
  width: 3.0vw;
  /* background-color: #fff; */
  border-radius: 5px;

}

.link_one i {
  height: 2.0vw;
  width: 2.0vw;
  /* background-color: #fff; */
  left: 2.9vw;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.link_two i {
  height: 2.0vw;
  width: 2.0vw;
  /* background-color: #fff; */
  left: 2.9vw;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.link_three i {
  height: 2.0vw;
  width: 2.0vw;
  /* background-color: #fff; */
  left: 2.9vw;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}



.link_four i {
  height: 2.0vw;
  width: 2.0vw;
  /* background-color: #fff; */
  left: 2.9vw;
  border-radius: 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.twitter,
.linkedin,
.slack,
.meetup {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6vw;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: black;
}

.twitter img {
  height: 25px;
  width: 25px;
}


.linkedin img {
  height: 25px;
  width: 25px;
}

.slack img {
  height: 25px;
  width: 25px;
}

.meetup img {
  height: 25px;
  width: 25px;
}

.twitter:hover {
  height: 2.2vw;
  width: 2.2vw;
  /* transform: scaleY(1.0); */
  /* filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%); */
}

.linkedin:hover {
  height: 2.2vw;
  width: 2.2vw;
  /* filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%); */
}

.slack:hover {
  height: 2.2vw;
  width: 2.2vw;
  /* filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%); */
}

.meetup:hover {
  height: 2.2vw;
  width: 2.2vw;
  /* filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%); */
}

/* .all_link .fa :hover {
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
} */


.text-style-leader {
  font-size: 22px;
  text-align: center;
  padding: 40px;
}


.leader-button {
  display: flex;
  padding: 10px 20px;
  background: rgb(240, 84, 87);
  font-size: 20px;
  border: 2px solid rgb(240, 84, 87);
  color: #fff;
  border-radius: 10px;
  margin: 0 auto;
}

.leader-button:hover {
  padding: 10px 20px;
  background: #fff;
  font-size: 20px;
  color: rgb(240, 84, 87);
  border: 2px solid rgb(240, 84, 87);
  transform: scale(1);
  transition: ease-in-out 0.4s;
}

.text-style-visit-profile {
  display: flex;
  font-weight: 600;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}




/* leader */


.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/* storytree */

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}



/* story tree */

.brand-narrative {
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #022c46;
}

.brand-narrative~p {
  text-align: center;
  color: #022c46;
}










@media (max-width: 1399.98px) {}


@media (max-width: 1199.98px) {}

@media only screen and (min-width: 991.98px) and (max-width: 767.98px) {}

@media (max-width: 767.98px) {


  /* banner */
  /* .banner{
    
  } */

  .navbar {
    height: 80px;
    position: sticky;
    top: 0;
  }


  .banner img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: left;
    background-color: black;
    filter: brightness(.5);
  }

  .text-contain {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 80px;
    padding: 20px;
  }

  .text-contain span:nth-child(1) {
    display: flex;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    justify-content: start;
  }

  .text-contain span:nth-child(2) {
    display: flex;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    justify-content: start;
  }

  .text-contain span:nth-child(3) {
    display: flex;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
    justify-content: start;
  }



  /* banner */


  /* mission */

  .mission-container {
    height: auto;
    padding: 40px 0;
  }

  /* .py-5 {
   
  } */

  .about-content {
    padding-top: 0rem !important;
    padding-bottom: 3rem !important;
  }


  .image_one {
    position: unset;
    right: 0;
    width: 100%;
    border-bottom-left-radius: 16%;
    object-fit: contain;
  }


  .paragraph-mobile {
    font-size: 24px;
    padding: 20px 0;
  }

  /* our capabilities */
  .paragraph-cap-mobile {
    font-size: 22px;
    padding: 20px 0;
    font-weight: 400;
  }






  /* leader */


  .leader-card-box {
    width: 50vw;
    height: 50vw;
  }


  .leader-card-box .card-name {
    height: 26vw;
    width: 26vw;
    bottom: -8vw;
  }



  .leader-card-box .card-name p {
    font-size: 3.5vw;
    left: 50%;
    top: 35%;
    line-height: 20px;
  }

  .leader-card-box .card-name h6 {
    font-size: 2.6vw;
    width: 100%;
    top: 62%;
  }

  .leader-card-box .card-name_left {
    height: 26vw;
    width: 26vw;
    background-color: #73B79E;
    border-radius: 0.5vw;
    bottom: -8vw;
    left: 0%;
    border-radius: 50%;
  }



  .leader-card-box .card-name_left p {
    position: inherit;
    font-size: 3.5vw;
    width: 100%;
    left: 50%;
    text-align: center;
    top: 36%;
    font-weight: 500;
    color: #fff;
    transform: translate(-50%, -50%);
    z-index: 2;
    line-height: 20px;
  }



  .leader-card-box .card-name_left h6 {
    position: inherit;
    font-size: 2.6vw;
    width: 100%;
    left: 50%;
    text-align: center;
    top: 68%;
    font-weight: 400;
    color: #fff;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 5px;
  }


  .text-style-leader {
    font-size: 1.2em !important;
  }


  .paragraph-visit-profile {
    all: unset;
  }

  .text-style-leader {
    font-size: 0.9rem;
    padding-bottom: 5px;
  }

  .leader-button {
    font-size: 15px;
    padding: 8px;
  }

  .leader_flex {
    flex-direction: column-reverse;
  }


  .all_link {
    display: flex;
    width: 35%;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    margin: 0 auto;
  }

  .link_one,
  .link_two,
  .link_three,
  .link_four {
    position: relative;
    height: 9.0vw;
    width: 9.0vw;
    /* background-color: #fff; */
    left: unset;
    border-radius: 5px;

  }

  .link_one i {
    height: 5.0vw;
    width: 5.0vw;
    /* background-color: #fff; */
    left: 2.9vw;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  .link_two i {
    height: 5.0vw;
    width: 5.0vw;
    /* background-color: #fff; */
    left: 2.9vw;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  .link_three i {
    height: 5.0vw;
    width: 5.0vw;
    /* background-color: #fff; */
    left: 2.9vw;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }



  .link_four i {
    height: 5.0vw;
    width: 5.0vw;
    /* background-color: #fff; */
    left: 2.9vw;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  .twitter,
  .linkedin,
  .slack,
  .meetup {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    font-size: 1.6vw;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: black;
  }




  .twitter:hover {
    height: 5.8vw;
    width: 5.2vw;
  }


  .linkedin:hover {
    height: 5.8vw;
    width: 5.2vw;
  }

  .slack:hover {
    height: 5.8vw;
    width: 5.2vw;
  }

  .meetup:hover {
    height: 5.8vw;
    width: 5.2vw;
  }


  /* .all_link .fa :hover {
    filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
  } */
























  /* navbar */
  .logo-trybusiness {
    height: 50px;
  }

  /* banner */

  .banner .banner-text span {
    top: 20px;
    font-size: 18px;
    font-weight: 700;
    top: 50%;
    padding: 0 10px;
    color: #fff;
    left: 50%;
    text-transform: uppercase;
    background-color: #df2b2c;
    transform: translate(-50%, -50%);
  }

  .logo-trybusiness {
    height: 58px;
    width: 220px;
  }

  .text {
    font-size: 30px;
    bottom: 5%;
    right: 0%;
    transform: translate(-20%, -50%);
  }


  /* story tree */


  .brand-narrative~p {
   padding: 20px;
  }
}