/* underlines */
.line-green {
  /* text-decoration: underline; */
  /* text-decoration-thickness: 6px; */
  -webkit-text-decoration-color: #2da397;
  /* Safari */
  text-decoration-color: #2da397;
  font-weight: 700;
  font-family: Roboto, sans-serif;
}


.line-red {
  /* text-decoration: underline; */
  /* text-decoration-thickness: 6px; */
  -webkit-text-decoration-color: #f10901;
  /* Safari */
  text-decoration-color: #f10901;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
}

/* underlines */


/* navbar */
.navbar {
  height: 100px;
}

.navbar-nav li a {
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600px;
}

.navbar-nav li a:hover {
  transform: scale(1.1);
}

.navbar-nav li {
  margin: 0 10px;
}

.navbar-nav li :hover {
  background-color: #009fe1;
  color: white;
  font-weight: 600px;
}

.collapse {
  display: flex;
  justify-content: end;
}


/* header strip */

.strips-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strip-green {
  height: 8px;
  background-color: #2da397;
  width: 33%;
}

.strip-red {
  height: 8px;
  background-color: #f10901;
  width: 33%;
}

.strip-yellow {
  height: 8px;
  background-color: #f7ab08;
  width: 33%;
}


/* banner */
.banner {
  position: relative;
}



.banner img {
  height: 100%;
  width: 100%;
}

.banner h1 {
  position: absolute;
  font-size: 5vw;
  /* width: 30ch; */
  font-weight: 400;
  top: 50%;
  padding: 0 40px;
  color: aliceblue;
  transform: translate(0, -50%);
  text-transform: uppercase;
}

/* banner */

/* our mission */
.paragraph {
  font-size: 30px;
  padding: 30px 0;
}

.about-content .btn {
  padding: 20px 40px;
  font-size: 20px;
}


.our_mission {
  width: 100%;
  height: 100%;
  position: relative;
}

.our_mission img {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 16%;
  /* border-radius: 50%; */
  top: 0
}

.our_mission .our_mission_counter {
  position: absolute;
  bottom: 0;
}

.circle-one {
  background-color: #ffffff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.circle-two {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  border: 1px dashed black;
  height: 150px;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.circle-two .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f10901
}




/* our mission */


/* our capabilities */
.capabilities-style {
  display: flex;
  padding: 100px 100px;
  font-weight: 600;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}




/* our capabilities */


/* leader */

.leader-card-box {
  position: relative;
  width: 25vw;
  height: 27vw;
  background-color: #f7ab08;
}

.leader-card-box img {
  width: 100%;
  height: 100%;
}

.leader-card-box .card-name {
  height: 11vw;
  width: 20vw;
  background-color: #73B79E;
  border-radius: 0.5vw;
  position: absolute;
  bottom: -10vw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.leader-card-box .card-name p {
  position: inherit;
  font-size: 1.5vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 3.5vw;
  font-weight: 500;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.leader-card-box .card-name h6 {
  position: inherit;
  font-size: 1.2vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 5.5vw;
  font-weight: 400;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.link_one{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 2.9vw;
  border-radius: 5px;
}

.link_two{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 6.8vw;
  border-radius: 5px;
}

.link_three{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 10.6vw;
  border-radius: 5px;
}

.link_four{
  position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background-color: #fff;
    z-index: 3;
    bottom: 1vw;
    left: 14.5vw;
    border-radius: 5px;
}

.card-name .twitter, .linkedin, .slack ,.meetup{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6vw;
  left: 50%;
  top:45%;
  transform: translate(-50%,-50%);
  color: black;
}




.card-name .twitter:hover{
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .linkedin:hover{
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .slack:hover{
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .meetup:hover{
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}


.text-style-leader{
  font-size: 22px;
  text-align: center;
  padding: 40px;
}


.leader-button{
  padding: 10px 20px;
  background:rgb(240, 84, 87);
  font-size: 20px;
  border: 2px solid rgb(240, 84, 87);
  color: #fff;
}

.leader-button:hover{
  padding: 10px 20px;
  background:#fff;
  font-size: 20px;
  color:rgb(240, 84, 87);
  border: 2px solid rgb(240, 84, 87);
}

/* leader */

@media (max-width: 1399.98px) { 

  /* leader */

.leader-card-box {
  position: relative;
  width: 25vw;
  height: 27vw;
  background-color: #f7ab08;
}

.leader-card-box img {
  width: 100%;
  height: 100%;
}

.leader-card-box .card-name {
  height: 11vw;
  width: 20vw;
  background-color: #73B79E;
  border-radius: 0.5vw;
  position: absolute;
  bottom: -10vw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.leader-card-box .card-name p {
  position: inherit;
  font-size: 1.5vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 3.5vw;
  font-weight: 500;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.leader-card-box .card-name h6 {
  position: inherit;
  font-size: 1.2vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 5.5vw;
  font-weight: 400;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.link_one{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 2.9vw;
  border-radius: 5px;
}

.link_two{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 6.8vw;
  border-radius: 5px;
}

.link_three{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 10.6vw;
  border-radius: 5px;
}

.link_four{
  position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background-color: #fff;
    z-index: 3;
    bottom: 1vw;
    left: 14.5vw;
    border-radius: 5px;
}

.card-name .twitter, .linkedin, .slack ,.meetup{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6vw;
  left: 50%;
  top:45%;
  transform: translate(-50%,-50%);
  color: black;
}
.card-name .twitter:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .linkedin:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .slack:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .meetup:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}


/* leader */

}


@media (max-width: 1199.98px) { 

/* leader */

.leader-card-box {
  position: relative;
  width: 25vw;
  height: 27vw;
  background-color: #f7ab08;
}

.leader-card-box img {
  width: 100%;
  height: 100%;
}

.leader-card-box .card-name {
  height: 11vw;
  width: 20vw;
  background-color: #73B79E;
  border-radius: 0.5vw;
  position: absolute;
  bottom: -10vw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.leader-card-box .card-name p {
  position: inherit;
  font-size: 1.5vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 3.5vw;
  font-weight: 500;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.leader-card-box .card-name h6 {
  position: inherit;
  font-size: 1.2vw;
  width: 100%;
  left: 50%;
  text-align: center;
  top: 5.5vw;
  font-weight: 400;
  color: #fff;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.link_one{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 2.9vw;
  border-radius: 5px;
}

.link_two{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 6.8vw;
  border-radius: 5px;
}

.link_three{
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  background-color: #fff;
  z-index: 3;
  bottom: 1vw;
  left: 10.6vw;
  border-radius: 5px;
}

.link_four{
  position: absolute;
    height: 2.5vw;
    width: 2.5vw;
    background-color: #fff;
    z-index: 3;
    bottom: 1vw;
    left: 14.5vw;
    border-radius: 5px;
}

.card-name .twitter, .linkedin, .slack ,.meetup{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6vw;
  left: 50%;
  top:45%;
  transform: translate(-50%,-50%);
  color: black;
}
.card-name .twitter:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .linkedin:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .slack:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .meetup:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}


/* leader */


}

@media only screen and (min-width: 991.98px) and  (max-width: 767.98px)  { 

  /* leader */

.leader-card-box {
  width: 70vw;
  height: 80vw;
}


.leader-card-box .card-name {
  height: 32vw;
  width: 59vw;
  border-radius: 1.5vw;
  bottom: -35vw;
}

.leader-card-box .card-name p {
  font-size: 4.2vw;
  top: 6.5vw;
}

.leader-card-box .card-name h6 {
  font-size: 3.5vw;
  top: 12.5vw;
}

.link_one{
  height: 7.5vw;
  width: 7.5vw;
  bottom: 4vw;
  left: 5.9vw;
}

.link_two{
  height: 7.5vw;
  width: 7.5vw;
  bottom: 4vw;
  left: 19.8vw;
}

.link_three{
  height: 7.5vw;
  width: 7.5vw;
  bottom: 4vw;
  left: 33.6vw;
}

.link_four{
    height: 7.5vw;
    width: 7.5vw;
    bottom: 4vw;
    left: 46.5vw;
}

.card-name .twitter, .linkedin, .slack ,.meetup{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6vw;
  left: 50%;
  top:45%;
  transform: translate(-50%,-50%);
  color: black;
}
.card-name .twitter:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .linkedin:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .slack:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .meetup:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}


/* leader */
 }

 @media (max-width: 767.98px) {

    /* leader */

.leader-card-box {
  width: 70vw;
  height: 80vw;
}


.leader-card-box .card-name {
  height: 32vw;
  width: 59vw;
  border-radius: 1.5vw;
  bottom: -35vw;
}

.leader-card-box .card-name p {
  font-size: 4.2vw;
  top: 6.5vw;
}

.leader-card-box .card-name h6 {
  font-size: 3.5vw;
  top: 12.5vw;
}

.link_one{
  height: 7.5vw;
  width: 7.5vw;
  bottom: 4vw;
  left: 5.9vw;
}

.link_two{
  height: 7.5vw;
  width: 7.5vw;
  bottom: 4vw;
  left: 19.8vw;
}

.link_three{
  height: 7.5vw;
  width: 7.5vw;
  bottom: 4vw;
  left: 33.6vw;
}

.link_four{
    height: 7.5vw;
    width: 7.5vw;
    bottom: 4vw;
    left: 46.5vw;
}

.card-name .twitter, .linkedin, .slack ,.meetup{
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6vw;
  left: 50%;
  top:45%;
  transform: translate(-50%,-50%);
  color: black;
}
.card-name .twitter:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .linkedin:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .slack:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

.card-name .meetup:hover{
  /* color: #73B79E; */
  filter: invert(67%) sepia(19%) saturate(580%) hue-rotate(106deg) brightness(94%) contrast(94%);
}

 }
